.android-large-2 .rectangle-21 {
  filter: blur(25px);
  border-radius: 20px;
  position: absolute;
  left: 24px;
  top: 250px;
  width: 60px;
  height: 20px;
}
.android-large-2 .rectangle-22 {
  border-radius: 20px;
  position: absolute;
  left: 24px;
  top: 250px;
  width: 60px;
  height: 20px;
}
.android-large-2 .vector {
  width: 14.7px;
  height: 25px;
}
.android-large-2 .arrow-back-ios-24-dp-fill-0-wght-400-grad-0-opsz-241 {
  margin: 0 3px 20.5px 3px;
  display: flex;
  align-self: flex-start;
  width: 14.7px;
  height: 25px;
  box-sizing: border-box;
}
.android-large-2 .ellipse-1 {
  filter: blur(100px);
  border-radius: 80.5px;
  background: #385F1E;
  margin: 0 0 19px 1px;
  align-self: center;
  width: 161px;
  height: 161px;
}
.android-large-2 .open-world {
  margin: 0 9px 14px 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 8px;
  color: #FFFFFF;
}
.android-large-2 .grand-theft-auto-v {
  margin: 0 2px 5px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 32px;
  color: #FFFFFF;
}
.android-large-2 .top-streams {
  margin: 0 9.7px 11px 9.7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 100;
  font-size: 14px;
  color: #E84644;
}
.android-large-2 .rectangle-19 {
  border-radius: 20px;
  border: 1px solid #626262;
  background: url('assets/images/Rectangle19.jpeg');
  margin-bottom: 59px;
  align-self: flex-start;
  width: 50px;
  height: 50px;
}
.android-large-2 .vector-2 {
  margin: 7px 2px 1.5px 0;
  width: 9px;
  height: 10.5px;
}
.android-large-2 .rk-gamer {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-2 .container-3 {
  margin: 0 0 3px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.android-large-2 .vector-1 {
  width: 11px;
  height: 7.5px;
}
.android-large-2 .visibility-24-dp-fill-0-wght-400-grad-0-opsz-246 {
  margin: 0 0.5px;
  display: flex;
  align-self: flex-start;
  width: 11px;
  height: 7.5px;
  box-sizing: border-box;
}
.android-large-2 .container-6 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-2 .call-of-duty {
  position: absolute;
  left: 15px;
  bottom: -175px;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-2 .k {
  position: absolute;
  left: 27px;
  bottom: 14px;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 100;
  font-size: 10px;
  color: #FFFFFF;
}
.android-large-2 .frame-2 {
  border-radius: 15px;
  border: 1px solid #626262;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('assets/images/Frame4.jpeg');
  position: relative;
  margin: 0 2px 228px 0;
  padding: 14px 14px 13.5px 14px;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.android-large-2 .rectangle-192 {
  border-radius: 20px;
  border: 1px solid #626262;
  background: url('assets/images/Rectangle19.jpeg');
  margin-bottom: 59px;
  width: 50px;
  height: 50px;
}
.android-large-2 .vector-6 {
  margin: 7px 2px 1.5px 0;
  width: 9px;
  height: 10.5px;
}
.android-large-2 .beast {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-2 .container-2 {
  margin: 0 2.5px 3px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.android-large-2 .vector-5 {
  width: 11px;
  height: 7.5px;
}
.android-large-2 .visibility-24-dp-fill-0-wght-400-grad-0-opsz-2462 {
  margin: 0 0.5px;
  display: flex;
  align-self: flex-start;
  width: 11px;
  height: 7.5px;
  box-sizing: border-box;
}
.android-large-2 .container-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-2 .k-2 {
  position: absolute;
  left: 27px;
  bottom: 14px;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 100;
  font-size: 10px;
  color: #FFFFFF;
}
.android-large-2 .frame-7 {
  border-radius: 15px;
  border: 1px solid #626262;
  background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('assets/images/Frame71.jpeg');
  position: relative;
  margin: 0 0 31px 2px;
  padding: 14px 14px 13.5px 14px;
  width: calc(100% - 2px);
  box-sizing: border-box;
}
.android-large-2 .rectangle-20 {
  border-radius: 20px;
  border: 1px solid #626262;
  background: url('assets/images/Rectangle19.jpeg');
  width: 50px;
  height: 50px;
}
.android-large-2 .frame-4 {
  border-radius: 15px;
  border: 1px solid #626262;
  background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('assets/images/Frame4.jpeg') 50% / cover no-repeat;
  margin-right: 2px;
  padding: 14px 14px 0 14px;
  width: calc(100% - 2px);
  height: 168px;
  box-sizing: border-box;
}
.android-large-2 .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.android-large-2 .ellipse-4 {
  filter: blur(100px);
  border-radius: 80.5px;
  background: #385F1E;
  position: absolute;
  left: 50%;
  top: 73px;
  translate: -50% 0;
  width: 161px;
  height: 161px;
}
.android-large-2 .ellipse-3 {
  filter: blur(100px);
  border-radius: 80.5px;
  background: #385F1E;
  position: absolute;
  left: -78px;
  bottom: 323px;
  width: 161px;
  height: 161px;
}
.android-large-2 .ellipse-5 {
  filter: blur(100px);
  border-radius: 80.5px;
  background: #385F1E;
  position: absolute;
  right: -80px;
  bottom: 93px;
  width: 161px;
  height: 161px;
}
.android-large-2 .ellipse-2 {
  filter: blur(175px);
  border-radius: 80.5px;
  background: #C9720F;
  position: absolute;
  left: 50%;
  top: 269px;
  translate: -50% 0;
  width: 161px;
  height: 161px;
}
.android-large-2 .rectangle-191 {
  border-radius: 20px;
  border: 1px solid #626262;
  background: url('assets/images/Rectangle19.jpeg');
  margin-bottom: 59px;
  align-self: flex-start;
  width: 50px;
  height: 50px;
}
.android-large-2 .vector-4 {
  margin: 7px 2px 1.5px 0;
  width: 9px;
  height: 10.5px;
}
.android-large-2 .rock-rocker {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 900;
  font-size: 16px;
  color: #FFFFFF;
}
.android-large-2 .container-1 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.android-large-2 .vector-3 {
  width: 11px;
  height: 7.5px;
}
.android-large-2 .visibility-24-dp-fill-0-wght-400-grad-0-opsz-2461 {
  margin: 0 0.5px;
  display: flex;
  align-self: flex-start;
  width: 11px;
  height: 7.5px;
  box-sizing: border-box;
}
.android-large-2 .container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.android-large-2 .k-1 {
  position: absolute;
  left: 27px;
  bottom: 14px;
  overflow-wrap: break-word;
  font-family: 'Nexa', 'Roboto Condensed';
  font-weight: 100;
  font-size: 10px;
  color: #FFFFFF;
}
.android-large-2 .frame-3 {
  border-radius: 15px;
  border: 1px solid #626262;
  background: linear-gradient(rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58)), url('assets/images/Frame3.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 24px;
  right: 20px;
  bottom: 280px;
  padding: 14px 14px 13.5px 14px;
  box-sizing: border-box;
}
.android-large-2 .removebg-preview-1 {
  background: url('assets/images/RemovebgPreview1.png') 50% / cover no-repeat;
  position: absolute;
  left: 50%;
  top: 60px;
  translate: -50% 0;
  width: 204.5px;
  height: 195.1px;
}
.android-large-2 {
  background: #000000;
  padding: 27.5px 20px 0 22px;
  box-sizing: border-box;
}
